# INFO 3402 â€“ Week 05: Assignment

[Brian C. Keegan, Ph.D.](http://brianckeegan.com/)  
[Assistant Professor, Department of Information Science](https://www.colorado.edu/cmci/people/information-science/brian-c-keegan)  
University of Colorado Boulder  

Copyright and distributed under an [MIT License](https://opensource.org/licenses/MIT)

## Background

The University of Colorado Boulder collects data about faculty performance in courses and publishes the aggregated data [here](https://www.colorado.edu/fcq/boulder-fcq-results). We're going to use the Excel sheet for Fall 2010 to Fall 2019 because the FCQ format changed and then no data was collected in spring 2020 because of the move to remote learning.

## Question 01: Load libraries and inspect datasets (6 pts)

Import the `numpy`, `pandas`, and matplotlib's `pyplot` libraries and the matplotlib cell magic. (1 pt)

In [1]:
import numpy as np
import pandas as pd

pd.options.display.max_columns = 100

%matplotlib inline
import matplotlib.pyplot as plt

Load the "fcq_2010_2019.xlsx" file with `read_excel`, use the data from the "FCQ Results" sheet, make sure your header is correct, assign to `fcq_df`, and inspect. (3 pts)

In [6]:
fcq_df = pd.read_excel('fcq_2010_2019.xlsx',sheet_name='FCQ Results',header=6)

Identify and remove the rows whose "Enroll" is "(blank)". (2 pts)

In [7]:
fcq_df.head(2)

,Term,Year,Campus,College,Dept,Sbjct,Crse,Sect,Crse Title,Instructor Name,Instr Grp,Crse Type,Crse Lvl,Onlin,Enroll,# Resp,Resp Rate,HrsPerWk,Interest,Challenge,Learned,Course,Effect,Avail,Respect,Instr,SD Crse,SD Instr
0,Fall,2010,BD,BUSN,BU,ACCT,3220,002,CORP FINANCIAL RPRTNG 1,"Jagolinzer, Alan David",TTT,LEC,Upper,NaN,40,38.0,0.950000,2.888672,4.289062,5.183594,5.473633,5.578125,5.683594,5.789062,6.000000,5.841797,0.598633,0.369507
1,Fall,2010,BD,BUSN,BU,ACCT,3220,003,CORP FINANCIAL RPRTNG 1,"Jagolinzer, Alan David",TTT,LEC,Upper,NaN,45,42.0,0.933333,2.896973,3.737793,5.261719,5.213867,5.194336,5.666016,5.571289,5.975586,5.785156,0.872314,0.470337

In [8]:
fcq_df = fcq_df[fcq_df['Enroll'] != "(blank)"]

## Question 02: Simple histograms (10 pts)

Using the "HrsPerWk" column, make a histogram with 25 bins of the average hours per week across all sections and lectures. Make sure to label the x-axis, y-axis, and title. (3 pts)

Using the "Enroll" column, make a histogram with 25 bins of the average hours per week across all sections and lectures. Make sure to label the x-axis, y-axis, and title. (3 pts)

Re-do the histogram for the "Enroll" column but use log-spaced bins and semi-log axes. (4 pts)

### Extra credit (2 pts)
What is the average class size versus the average log-class size?

## Question 03: Multiple subplots (14 pts)

Filter `fcq_df` down to only the "CMCI" values in "College" and store as `cmci_fcq_df`. Print the shape. (1 pt)

Filter the "Dept" column to only include "APRD", "CMCI", "CMDP", "COMM", "INFO", "JRNL", and "MDST". Print the shape. (1 pt)

Make a histogram of the "HrsPerWk" column and use the "by" parameter to group by "Term". Experiment with different "figsize" values until the subplots are approximately square. Get rid of the legend. Use `plt.tight_layout` ([docs](https://matplotlib.org/stable/tutorials/intermediate/tight_layout_guide.html)) to make it clean. (5 pts)

Using the pandas `.plot.hist()` ([docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.hist.html)) or `.plot()` ([docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html#pandas.DataFrame.plot)) methods on `cmci_fcq_df` and their "by" parameter, make a collection of histograms of "Course" scores by "Dept". Use other parameters to make the "figsize" (12,6) and the "layout" with two rows. Use `plt.tight_layout` ([docs](https://matplotlib.org/stable/tutorials/intermediate/tight_layout_guide.html)) to make it clean. (6 pts)

Convert the cell below to a Raw NBCovert and write a sentence or two about the patterns in the visualizations above. (1 pt)

### Extra credit (2 pts)

Calculate the t-statistic and p-value for the difference in "HrsPerWk" for Spring versus Summer CMCI classes using `ttest_ind` and unequal variance from scipy.stats ([docs](https://docs.scipy.org/doc/scipy-1.8.0/html-scipyorg/reference/generated/scipy.stats.ttest_ind.html)). You may need to drop missing values.